
 {{#each animals as |animal|}}
  <div class="row" id="petCardsContainer" >
        <div class="card"  id="petCard" style="width: 18rem;">
            <img class="card-img-top" src="assets/Liam.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{pet.name}}</h5>
                <p class="card-text">Breed:{{pet.breed}}</p>
                <p class="card-text">Age: {{pet.age}}</p>
                <p class="card-text">Gender: {{pet.gender}}</p>
                <p class="card-text">{{pet.description}}</p>

                <a href="mailto:fureverhome@gmail.com" class="btn btn-primary">Click to set up meeting!</a>
            </div>
        </div>
  </div>
 {{/each}}

 <!--example cards-->
<div class="container" >
   
    <div class="row" id="petCardsContainer" >
        <div class="card"  id="petCard" style="width: 18rem;">
            <img class="card-img-top" src="assets/Liam.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Liam</h5>
                <p class="card-text">Breed: beagle</p>
                <p class="card-text">Age: 1</p>
                <p class="card-text">Gender: male</p>
                <p class="card-text">Liam is a cute boy who likes to snuggle and listen to Oasis</p>

                <a href="mailto:fureverhome@gmail.com" class="btn btn-primary">Click to set up meeting!</a>
            </div>
        </div>
          <div class="card" id="petCard" style="width: 18rem;">
            <img class="card-img-top" src="assets/Noel.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Noel</h5>
                <p class="card-text">Breed: lab mix</p>
                <p class="card-text">Age: 2</p>
                <p class="card-text">Gender: male</p>
                <p class="card-text">Noel is a cute boy who likes to snuggle and listen to Oasis</p>

                <a href="mailto:fureverhome@gmail.com" class="btn btn-primary">Click to set up meeting!</a>
            </div>
        </div>
          <div class="card" id="petCard" style="width: 18rem;">
            <img class="card-img-top" src="assets/Dotty.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Dotty</h5>
                <p class="card-text">Breed: Lab Mix</p>
                <p class="card-text">Age: 1</p>
                <p class="card-text">Gender: female</p>
                <p class="card-text">Dotty is a cute girl who likes to snuggle and listen to Oasis</p>

                <a href="mailto:fureverhome@gmail.com" class="btn btn-primary">Click to set up meeting!</a>
            </div>
        </div>
          <div class="card" id="petCard" style="width: 18rem;">
            <img class="card-img-top" src="assets/Lacy.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Lacy</h5>
                <p class="card-text">Breed: Lab Mix</p>
                <p class="card-text">Age: 6</p>
                <p class="card-text">Gender: female</p>
                <p class="card-text">Lacy is a cute girl who likes to snuggle and listen to Oasis</p>

                <a href="mailto:fureverhome@gmail.com" class="btn btn-primary">Click to set up meeting!</a>
            </div>
        </div>
    </div>
</div>